* {
  box-sizing: border-box;
}

.notification {
  background-color: rgb(211, 211, 211);
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.notification p {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}